{{#each areas as |area|}}
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">{{name}} - {{location.state}}</h5>
    <img src="{{photo}}" alt="{{name}}" style="width: 16rem; height: 16 rem">
  </div>
</div>
{{/each}}