<link rel="stylesheet" href="/css/profile.css">

<div id="containerOne">
    <div id="pbContainer">
        <div id="pbHeader">
            <h2>Basic Info</h2>
        </div>
        <div id="pbBody">
                <div id="profilePic">
                    <img src="/images/circlepic.jpg" alt="profilePic">
                </div>
                <div id="basicInfo">
                    <p id="user-name">{{user.first_name}} {{user.last_name}}</p>
                    <p id="user-email">{{user.email}}</p>
                </div>
        </div>
    </div>
</div>
<div id="containerTwo">
        <div id="completeList">
        <div id="completeHeader">
            <h2>Completed Climbs</h2>
        </div>
        <div id="completeBody">
            <h4>SAMPLE: -name- -difficulty- -area- -state-</h4>
        </div>
    </div>
        <div id="barGraph">
        <div id="barHeader">
            <h2>Grade Stats</h2>
        </div>
        <div id="barBody">
            <h4>SAMPLE: D3 Bar Graph Here</h4>
        </div>
    </div>
</div>

<script src="/scripts/user.js"></script>