<link rel="stylesheet" href="/css/profile.css">

<div id="containerOne">
    <div id="pbContainer">
        <div id="profilePic">
            <img src="/images/thumbnail_123_1.jpg" alt="profilePic">
        </div>
        <div id="basicInfo">
            <h2>Basic Info</h2><hr>
            <p>Name: </p>
            name goes here
            <p>State: </p>
            state goes here
            <p>Email: </p>
            email goes here
        </div>
    </div>
    <div id="toDoList"><h2>To-Do List</h2></div>
</div>
<div id="containerTwo">
    <div id="completeList"><h2>Completed List</h2></div>
    <div id="barGraph"><h2>Bar Graph</h2></div>
</div>
