<link rel="stylesheet" href="/css/profile.css">

<div id="containerOne">
    <div id="pbContainer">
        <div id="pbHeader">
            <h2>Basic Info</h2>
        </div>
        <div id="pbBody">
                <div id="profilePic">
                    <img src="/images/thumbnail_123_1.jpg" alt="profilePic">
                </div>
                <div id="basicInfo">
                    <p>Name: </p>
                    name goes here
                    <p>State: </p>
                    state goes here
                    <p>Email: </p>
                    email goes here
                </div>
        </div>

    </div>
    <div id="toDoList">
        <div id="toDoHeader">
            <h2>To-Do List</h2>
        </div>
        <div id="toDoBody"></div>
    </div>
</div>
<div id="containerTwo">
        <div id="completeList">
        <div id="completeHeader">
            <h2>Climb's Completed</h2>
        </div>
        <div id="completeBody"></div>
    </div>
        <div id="barGraph">
        <div id="barHeader">
            <h2>Bar Graph</h2>
        </div>
        <div id="barBody"></div>
    </div>
</div>
