<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
<link rel="stylesheet" href="./css/search.css">
<link rel="stylesheet" href="./css/searchPage.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
<!-- link to search functions -->
<script src="./scripts/search.js"></script>
  
  
  <div class="demo">
   
  <form action="#">
   
    <fieldset>
      <label for="selectState"></label>
      <select name="state" id="selectState">
        <option disabled selected>Select A State</option>
      </select>
    </fieldset>
   
  </form>

  <div id="areaList"></div>
  <div id="areaInfo"></div>
  <div id="climbList"></div>
  <div id="climbInfo"></div>
  </div>

  </div>

