<body>
    <div id="profilePic">
        {{!-- profile pic shows up here --}}
        <img src="thumbnail_123_1.jpg" alt="joshIsCool">
    </div>
    <div id="basicInfo">
        {{!-- basic info shows up here --}}
        Name: Josh Stringer
        State: Texas
        Highest Grade: 5.9
    </div>
    <div id="to-doList">
        {{!-- to do list shows up here --}}
    </div>
    <div id="completedList">
        {{!-- completed climbs show up here --}}
    </div>
    <div id="statBarGraph">
        {{!-- bar graph goes here --}}
    </div>
</body>