<h1>Sign Up</h1>
<p id="error-msg"></p>
<div>
    <div id="container">
      <div class="form-wrap">
    <form id="sign-form" >
        <div class="form-group">
            <label for="first">First Name</label>
            <input placeholder="First Name" id="first" type="text" required>
        </div>
        <div class="form-group">
            <label for="last">Last Name</label>
            <input placeholder="Last Name" id="last" type="text" required>
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input placeholder="Password" id="pass" type="password" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input placeholder="Email" id="email" type="email" autocomplete="email" required>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <select class="form-control" id="location">
                {{#each locations as |location|}}
                <option>{{state}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
    <a href="/">Go back to login page</a>
</div>
<script type="module" src="./scripts/signup.js"></script>