* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#containerOne {
    display: flex;           
    justify-content: center; 
    align-items: center;     
    gap: 20px;               
    width: 100%;            
    height: 40%;          
    padding: 10px;           
}

#pbContainer {
    width: 40%;            
    height: 100%;           
    background-color: aliceblue; 
    color: black;           
    display: flex;          
    flex-direction: column;
    border-radius: 5px;     
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.664);
}

#pbHeader {
    height: 15%;             
    background-color: darkred; 
    color: white;              
    display: flex;             
    justify-content: center;   
    align-items: center;       
    border-radius: 5px 5px 0px 0px;       
    border-bottom: 2px solid black;
}

#pbBody {
    height: 85%;               
    background-color: aliceblue; 
    color: white;              
    display: flex;             
    justify-content: center;   
    align-items: center;       
    border-radius: 5px;       
}

#toDoList {
    width: 40%;           
    height: 100%;          
    background-color: aliceblue; 
    color: black;            
    display: flex;           
    flex-direction: column;
    border-radius: 5px;     
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.664);
}

#toDoHeader {
    height: 15%;              
    background-color: #007bff; 
    color: white;              
    display: flex;             
    justify-content: center;   
    align-items: center;       
    border-radius: 5px 5px 0px 0px;       
    border-bottom: 2px solid black;
}

#toDoBody {
    height: 85%;               
    background-color: aliceblue; 
    color: white;              
    display: flex;             
    justify-content: center;   
    border-radius: 5px;       
}

#completeList {
    width: 40%;            
    height: 100%;         
    background-color: aliceblue; 
    color: black;            
    display: flex;           
    flex-direction: column;
    border-radius: 5px;     
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.664);
}

#completeHeader {
    height: 15%;              
    background-color: orange; 
    color: white;              
    display: flex;             
    justify-content: center;   
    align-items: center;       
    border-radius: 5px 5px 0px 0px;       
    border-bottom: 2px solid black;
}

#completeBody {
    height: 85%;               
    background-color: aliceblue; 
    color: white;         
    text-align: center;    
    /* display: flex;              */
    /* justify-content: center;   */
    /* flex-direction: row;  */
    border-radius: 5px;       
}

#barGraph {
    width: 40%;            
    height: 100%;          
    background-color: aliceblue; 
    color: black;           
    display: flex;           
    flex-direction: column;
    border-radius: 5px;     
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.664);
}

#barHeader {
    height: 15%;              
    background-color: green; 
    color: white;             
    display: flex;             
    justify-content: center;   
    align-items: center;       
    border-radius: 5px 5px 0px 0px;       
    border-bottom: 2px solid black;
}

#barBody {
    height: 85%;               
    background-color: aliceblue; 
    color: white;             
    display: flex;             
    justify-content: center;   
    align-items: center;       
    border-radius: 5px;       
}

#profilePic {
    width: 35%;
    height: 85%;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-left: 5%;
}

#profilePic img {
    width: 180%;
    height: auto;
    display: block;
}

#containerTwo {
    display: flex;          
    justify-content: center; 
    align-items: center;     
    gap: 20px;               
    width: 100%;           
    height: 40%;          
    padding: 10px;           
}

#basicInfo {
    margin-right: 5%;
    width: 45%;
    text-align: center;
    color: black;
}

h2 {
    margin: 0;
}

h4 {
    margin: 0;
    color: black;
}