fieldset {
    border: 0;
  }
  label {
    display: block;
    margin: 30px 0 0 0;
  }
  .overflow {
    height: 200px;
  }

  /* not sure if needed, but wanted to create space for test info */
  #areaInfo {
    height: 80vh;
    width: 80vw;
  }